<div class="grid-x">
  <div class="cell small-6">6 cells</div>
  <div class="cell small-6">6 cells</div>
</div>

<h1>ZeeMee</h1>

<ul>
  <li><%= link_to 'Login', login_index_path %></li>
  <li>Logout</li>
  <li>Dashboard</li>
  <li>Events</li>
  <li>Discover</li>
  <li>Students</li>
  <li>News</li>
  <li>Data Processing Adendum</li>
  <li>Privacy</li>
  <li>Terms of Use</li>
  <li>Copyright Dispute Policy</li>
</ul>
