<div class="grid-x">
  <div class="cell small-3">&nbsp;</div>
  <div class="cell small-6">
    <h1>ZeeMee</h1>

    <ul>
      <% if current_user %>
        <li><%= link_to "Logout: #{current_user.name}", '/logout' %></li>
      <% else %>
        <li><%= link_to 'Login', login_index_path %></li>
      <% end %>
      <li>Dashboard</li>
      <li>Events</li>
      <li>Discover</li>
      <li>Students</li>
      <li>News</li>
      <li>Data Processing Adendum</li>
      <li>Privacy</li>
      <li>Terms of Use</li>
      <li>Copyright Dispute Policy</li>
    </ul>
  </div>
  <div class="cell small-3">&nbsp;</div>
</div>

